@-webkit-keyframes fadeOutDown{
    0%{opacity:1;
        -webkit-transform:translateY(0)}
    100%{opacity:0;
        -webkit-transform:translateY(20px)}
}
@-moz-keyframes fadeOutDown{
    0%{opacity:1;
        -moz-transform:translateY(0)}
    100%{opacity:0;
        -moz-transform:translateY(20px)}
}

.wrap {
    overflow-x: hidden;
}
.cont1 {
    background: url(../img/snow1/dbg1.jpg) no-repeat 50% 0;
    position: relative;
}
.mian1, .mian2, .mian3, .mian4, .mian5, .mian6, .mian7 {
    width: 1406px;
    margin: 0 auto;
    position: relative;
}
.cont1, .cont2, .cont3, .cont4, .cont5, .cont6, .cont7 {
    min-width: 1406px;
}
.mian1 {
    background: url(../img/snow1/bg1.jpg) no-repeat 50% 0;
    height: 1069px;
}
.logo {
    position: absolute;
    width: 203px;
    height: 106px;
    z-index: 6;
    left: 0px;
    top: 40px;
}
.btn-banner-video {
    opacity: 1;
    display: block;
    width: 107px;
    height: 111px;
    background: url(../img/snow1/banner-video.png) no-repeat;
    position: absolute;
    top: 545px;
    left: 50%;
    margin-left: -53px;
    z-index: 8;
}
.login-box {
    text-align: center;
    font-size: 16px;
    color: #fad086;
    padding-top: 1000px;
    position: relative;
    z-index: 5;
}
.login-box a {
    color: #fad086;
}
.snow-video {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -960px;
    z-index: 1;
    display: block;
    pointer-events: none;
}
.cont2 {
    background: url(../img/snow1/dbg2.jpg) no-repeat 50% 0;
}
.mian2 {
    background: url(../img/snow1/bg2.jpg) no-repeat 50% 0;
    height: 2837px;
}
.tile-srp {
    background: url(../img/snow1/tile-srp.png) no-repeat;
}
.tile1 {
    width: 642px;
    height: 193px;
    background-position: 0px 0px;
    margin: 0 auto;
}
.tile1-tips-data {
    width: 642px;
    height: 193px;
    line-height: 215px;
    text-align: center;
    font-size: 16px;
    color: #6ec7f3;
}
.skin-wrap {
    width: 1561px;
    height: 848px;
    margin: 43px 0px 0px 80px;
    position: relative;
}
.silide-nav {
    width: 100%;
    height: 136px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1111;
}
.srp-1 {
    background: url(../img/snow1/btn-srp-1.png) no-repeat;
}
.btn-nav {
    display: block;
    float: left;
    width: 152px;
    height: 136px;
}

div.silide-nav a.nav1 {
    background-position: 0px -21px;
}
div.silide-nav a.nav2 {
    background-position: -153px -21px;
}
div.silide-nav a.nav3 {
    background-position: -295px -21px;
}
div.silide-nav a.nav4 {
    background-position: -466px -21px;
}
div.silide-nav a.nav5 {
    background-position: -639px -21px;
}
div.silide-nav a.nav-on1 {
    background-position: 0px -212px;
}
.slide-cont {
    width: 1561px;
    height: 848px;
    position: absolute;
    top: 0;
    left: 13px;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.skin01 .swiper-wrapper {
    transition-delay: .3s;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.skin01 .houseinup {
    -webkit-animation: fadeOutDown .2s ease both;
    -moz-animation: fadeOutDown .2s ease both;
}
.slide-box {
    width: 100%;
    height: 100%;
}
.btn-soraka {
    display: block;
    width: 224px;
    height: 82px;
    background-position: -850px 0px;
    position: absolute;
    top: 472px;
    left: 23px;
}
.guard {
    width: 700px;
    height: 142px;
    background: url(../img/snow1/guard.png) no-repeat;
    position: absolute;
    top: 608px;
    left: 23px;
    z-index: 2;
}
.btn-guard {
    display: block;
    width: 162px;
    height: 66px;
    background-position: -850px -125px;
    position: absolute;
    top: 54px;
    left: 345px;
}
.skin-ceremony {
    width: 100%;
    height: 700px;
    position: relative;
}
.ceremony-slide {
    width: 1500px;
    height: 615px;
    position: absolute;
    top: 0;
    left: -95px;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.ceremony-pagination {
    width: 100%;
    text-align: center;
    text-indent: 83px;
}
.m-show {
    display: none;
}
.btn-page {
    display: block;
    width: 47px;
    height: 92px;
    background-position: -850px -222px;
    position: absolute;
    top: 239px;
    z-index: 3;
}
.upper {
    left: 0px;
}
.lower {
    background-position: -933px -222px;
    right: 0px;
}
.dazzle-skin {
    width: 100%;
    height: 924px;
    background: url(../img/snow1/dazzle-boder.png) no-repeat;
    background-position: 0px 23px;
}
.dazzle-tile-wrap {
    width: 459px;
    height: 84px;
    margin: 0 auto;
    text-align: center;
}
.dazzle-tile {
    width: 459px;
    height: 50px;
    background-position: -1039px 0;
}
.dazzle-tips {
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    color: #fdcc7d;
}
.dazzle-ul {
    width: 1225px;
    height: 744px;
    margin: 43px auto;
    padding-left: 8px;
}
.dazzle-list {
    width: 233px;
    height: 744px;
    float: left;
    margin-right: 15px;
}
.dazzle-img {
    width: 100%;
    height: 503px;
    position: relative;
}
.btn-mask-skin {
    display: block;
    width: 100px;
    height: 150px;
    position: absolute;
    top: 187px;
    left: 873px;
    z-index: 33;
}
.btn-dazzle-mask {
    top: 326px;
    left: 67px;
}
.mask-skin-img {
    display: none;
    width: 440px;
    height: 166px;
    position: absolute;
    top: 0;
    left: 704px;
    z-index: 33;
}
.dazzle-mask-img {
    top: 146px;
    left: -103px;
}
.dazzle-name {
    height: 76px;
    text-align: center;
}
.dazzle-name-txt {
    font-size: 20px;
    color: #7debff;
}
.dazzle-price {
    height: 63px;
    text-align: center;
}
.dazzle-price-img {
    width: 175px;
    height: 44px;
    margin: 0 auto;
    background-position: 0 0;
}
.srp-price {
    background: url(../img/snow1/srp-price.png) no-repeat;
}
.tc {
    width: 864px;
    height: 486px;
    position: relative;
    display: none;
}
a:hover{-webkit-filter: brightness(1.2);filter: brightness(1.2);}